.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: black;
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: black;
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
