.rbc-btn-group {
  display: none !important;
  white-space: nowrap;
}
.rbc-toolbar-label {
  text-align: center !important;
  font-weight: 500;
  margin-bottom: 10px;
}
.rbc-month-header {
  display: flex;
  flex-direction: row;
  background: #40282c;
  padding: 10px;
  color: white;
}
.rbc-header {
  border-bottom: none !important;
}
